<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"/>
    </bean>
    <context:component-scan base-package="by.epam.*" />
    <context:annotation-config />

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="springDataSource"/>
    </bean>

    <bean id="springDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="url" value="${url}" />
        <property name="driverClassName" value="${driverClassName}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
        <property name="initialSize" value="${initialSize}" />


    </bean>

    <bean id="tagDao" class="by.epam.news.dao.impl.TagDaoImpl">
        <property name="dataSource" ref="springDataSource"/>
    </bean>
    <bean id="commentDao" class="by.epam.news.dao.impl.CommentDaoImpl">
        <property name="dataSource" ref="springDataSource"/>
    </bean>
    <bean id="authorDao" class="by.epam.news.dao.impl.AuthorDaoImpl">
        <property name="dataSource" ref="springDataSource"/>
    </bean>
    <bean id="newsDao" class="by.epam.news.dao.impl.NewsDaoImpl">
        <property name="dataSource" ref="springDataSource"/>
    </bean>

    <bean id="authorService" class="by.epam.news.service.impl.AuthorServiceImpl">
        <property name="authorDao" ref="authorDao"/>
    </bean>
    <bean id="tagService" class="by.epam.news.service.impl.TagServiceImpl">
        <property name="tagDao" ref="tagDao"/>
    </bean>
    <bean id="commentService" class="by.epam.news.service.impl.CommentServiceImpl">
        <property name="commentDao" ref="commentDao"/>
    </bean>
    <bean id="newsService" class="by.epam.news.service.impl.NewsServiceImpl">
        <property name="newsDao" ref="newsDao"/>
        <property name="commentDao" ref="commentDao"/>
        <property name="tagDao" ref="tagDao"/>
        <property name="authorDao" ref="authorDao"/>
    </bean>
</beans>